<!-- page title -->
<%= render partial: 'shared/page_title', locals: { page_title:
'口コミ・レビュー・ランキング・新商品情報【パイビュー】' } %>

<!-- header -->
<%= render partial: 'shared/header' %>

<!-- side menu -->
<div class="drawer__overlay"></div>
<div class="drawer">
  <div class="drawer__inner">
    <ul class="drawer__list">
      <li class="drawer__menu first">
        <%= link_to image_tag('bnr_drawer.jpg') %>
      </li>
      <li class="drawer__menu"><%= link_to 'トップ', root_path %></li>
      <% if user_signed_in? %>
      <li class="drawer__menu">
        <%= link_to current_user.name + 'さん', user_profile_path(current_user)
        %>
      </li>
      <% else %>
      <li class="drawer__menu">
        <%= link_to 'ログイン・新規登録', new_user_session_path %>
      </li>
      <% end %>
      <li class="drawer__menu"><%= link_to '新商品', items_path %></li>
      <li class="drawer__menu"><%= link_to '新着レビュー', '#' %></li>
      <% if user_signed_in? %>
      <li class="drawer__menu"><%= link_to 'お気に入り', '#' %></li>
      <li class="drawer__menu"><%= link_to 'フォロー会員', '#' %></li>
      <% end %>
      <li class="drawer__menu small"><%= link_to 'パイビューとは', '#' %></li>
      <li class="drawer__menu"><%= link_to 'カテゴリー一覧', '#' %></li>
      <li class="drawer__menu"><%= link_to 'グッドレビュー', '#' %></li>
      <li class="drawer__menu"><%= link_to 'ピックアップ', '#' %></li>
      <li class="drawer__menu"><%= link_to 'キャンペーン', '#' %></li>
      <li class="drawer__menu"><%= link_to 'コラム', '#' %></li>
      <li class="drawer__menu"><%= link_to '運営会社', '#' %></li>
      <li class="drawer__menu">
        <%= link_to '個人情報の取り扱いについて', '#' %>
      </li>
      <li class="drawer__menu"><%= link_to '利用規約', '#' %></li>
      <li class="drawer__menu"><%= link_to 'サイトマップ', '#' %></li>
      <li class="drawer__menu"><%= link_to 'よくある質問', '#' %></li>
      <li class="drawer__menu"><%= link_to '問い合わせ', '#' %></li>
    </ul>
  </div>
</div>

<!-- slider -->
<div class="slider__outer wrap">
  <ul class="slider">
    <li><%= link_to image_tag('img_front01.jpg'), '#' %></li>
    <li><%= link_to image_tag('img_front02.png'), '#' %></li>
    <li><%= link_to image_tag('img_front03.png'), '#' %></li>
    <li><%= link_to image_tag('img_front04.png'), '#' %></li>
    <li><%= link_to image_tag('img_front05.png'), '#' %></li>
    <li><%= link_to image_tag('img_front06.png'), '#' %></li>
    <li><%= link_to image_tag('img_front07.png'), '#' %></li>
  </ul>
</div>

<!-- flash message -->
<%= render partial: 'shared/flash_message' %>

<!-- sub-header -->
<div class="sub-header">
  <div class="wrap">
    <div class="sub-header__flex flex">
      <p class="sub-header__text">
        現在のレビュー数<span><%= get_all_review %></span>件
      </p>
      <%= link_to '', class: 'sub-header__link' do %> 無料登録&レビューで<br />100ポイント
      <% end %>
    </div>
  </div>
</div>

<!-- main -->
<main class="main">
  <div class="wrap">
    <!-- grades -->
    <figure class="grades__image">
      <%= link_to image_tag('img_front08.png'), '#' %>
    </figure>

    <!-- ranking -->
    <section class="ranking">
      <h2 class="ranking__heading">注目ランキング</h2>
      <div class="ranking__flex flex">
        <div class="ranking__flex-item before">
          <h3 class="ranking__flex-heading before">総合評価ランキング</h3>
          <% rankings = get_score_ranking %>
          <% rankings.each_with_index do |item, index| %>
          <div class="ranking__item flex">
            <%= link_to item_path(item.item_id), class: 'ranking__link' do %>
            <div class="ranking__image">
              <%= image_tag Item.find(item.item_id).image.url %>
            </div>
            <div class="ranking__data">
              <h4 class="ranking__title <%= put_class(index) %>">
                <%= Item.find(item.item_id).name %>
              </h4>
              <span class="ranking__score"><%= item.total_star %></span>
              <p class="ranking__text">
                <%= Item.find(item.item_id).description %>
              </p>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
        <div class="ranking__flex-item after">
          <h3 class="ranking__flex-heading after">レビュー数ランキング</h3>
          <% item_reviews = get_larger_review %> <% item_reviews.each_with_index do |item, index| %>
          <div class="ranking__item flex">
            <%= link_to item_path(item.id), class: 'ranking__link' do %>
            <div class="ranking__image">
              <%= image_tag item.image.url %>
            </div>
            <div class="ranking__data">
              <h4 class="ranking__title <%= put_class(index) %>">
                <%= item.name %>
              </h4>
              <span class="ranking__score"><%= item.reviews.size %>件のレビュー</span>
              <p class="ranking__text">
                <%= item.description %>
              </p>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </section>

    <!-- category -->
    <section class="category">
      <h2 class="category__heading">注目カテゴリー</h2>
      <ul class="category__list flex">
        <% res = get_featured_category %> <% res.each do |r| %>
        <li class="category__item">
          <%= link_to r.name, category_list_path(r.id) %>
        </li>
        <% end %>
      </ul>
    </section>

    <!-- banner1 -->
    <section class="banner">
      <figure>
        <%= link_to image_tag('bnr_front01.jpg'), '#' %>
      </figure>
    </section>

    <!-- banner2 -->
    <section class="banner">
      <figure>
        <%= link_to image_tag('bnr_front02.png'), '#' %>
      </figure>
    </section>
  </div>
</main>

<!-- footer -->
<%= render partial: 'shared/footer' %>

<!-- slick -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
